@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: black;
  margin: auto;
}

* {
  font-family: 'Raleway', 'Roboto', 'Arial', sans-serif;
}

header {
  height: 605px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: linear-gradient(rgb(11, 149, 212), black);
  background-image: url(/trilha-css-desafio-01/assets/images/banner.png), linear-gradient(black, rgba(11, 149, 212, 0.15));
  border: 2px 0px solid rgb(11, 149, 212);
}

header img {
  height: 200px;
  width: 240px;
  background-color: rgb(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

button {
  width: 330px;
  height: 60px;
  -webkit-background-clip: text;
  background-image: linear-gradient(rgb(57, 161, 209),rgb(11, 149, 212));
  margin: auto;
  padding: auto;
  display: block;
  background-color: transparent;
  color: transparent;
  font: bold 20px sans-serif;
  border: 2px solid rgb(11, 149, 212);
  font-weight: 800;
  font-family: 'Raleway';
  font-size: 100;
  text-transform: uppercase;
  letter-spacing: 3px;


}

p {
  height: 60px;
  width: 800px;
  color: white;
  text-align: center;
  font-weight: 400;
  display: block;
  margin: auto;
  padding: auto;
}

.module {
  width: 500px;
  background: rgb(24, 23, 23);
  color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px auto;
  border: 2px solid rgb(13, 150, 196);
  border-radius: 25px;
  text-align: center;
  display: block;
  box-shadow: inset 10px 10px 5px rgba(0, 0, 0, 0.5);
}
span{
  color: rgb(13, 150, 196);
}

h1 {
  -webkit-background-clip: text;
  background-image: linear-gradient(rgb(57, 161, 209),rgb(11, 149, 212));
  font-family: 'Raleway', 'Roboto';
  font-weight: 900;
  color: transparent;
  text-align: center;
  margin-top: 70px;
  text-transform: uppercase;
  
}

h2 {
  width: 660px;
  -webkit-background-clip: text;
  background-image: linear-gradient(rgb(57, 161, 209),rgb(11, 149, 212));
  font-family: 'Raleway', 'Roboto';
  font-weight: 700;
  color: transparent;
  text-align: center;
  margin: 80px auto 20px auto;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 10px;
}

section {
  height: 500px;
  border: 1px solid rgb(11, 149, 212);
  border-left:0px;
  border-right:0px;
}

section img {
  display: block;
  margin: auto;
  padding: auto;
}

#transform-world {
  height: 360px;
  background-image: url(/trilha-css-desafio-01/assets/images/woman-code.png);
  background-attachment: fixed;
  border-bottom: 2px 0px 2px 0px solid rgb(11, 149, 212);
  background-size: 100%;
  background-repeat: no-repeat;
}

#transform-world p {
  height: 300px;
  width: 300px;
  font-weight: 900;
  font-size: 40px;
  margin: 100px 707px 100px 201px;
  text-transform: lowercase;
  text-shadow: 6px 2px rgb(11, 149, 212);

}

#professional-challenges {
  height: 800px;
}

#professional-challenges img {
  height: 430px;
  width: 660px;
}

#professional-challenges p {
margin:80px auto 20px auto; 
}

footer {
  height: 170px;
  background-color: linear-gradient(rgb(11, 149, 212), black);
  background-image: linear-gradient(black, rgba(11, 149, 212, 0.15));
  text-align: center;
}

footer img {
  margin: 50px auto 10px;

}

a {
  font-style: normal;
  font-weight: 600;
  color: rgb(11, 149, 212);
  text-decoration: none;
}